.user--info {
  @include userContainer(130px);
  justify-content: space-between;
  margin-top: 24px;
}

.user--info--container {
  @include flexbox;
  flex-direction: row;
  margin-left: 24px;
}

.user--info--character {
  @include flexbox;
  // border: 3px solid blue;
  box-sizing: border-box;
  height: 80px;
  width: 80px;
}

.user--info--textWrapper {
  @include flexbox;
  flex-direction: column;
  margin-left: 16px;
  gap: 8px 0;
}

.user--info--clanname {
  @include flexbox;
}

.user--info--nickname {
  @include flexbox;
  font-size: 24px;
  font-weight: 600;
}

.user--info--refresh {
  @include btn();
  box-sizing: border-box;
  border: 3px solid red;
}

.user--info--widget {
  // border: 1px solid black;
  margin-right: 24px;
}

.user--info--wTitle {
  @include flexbox;
  font-size: 20px;
}

.user--info--wBtnWrapper {
  @include flexbox;
  margin-top: 8px;
}

.user--info--wBtn {
  @include btn;
  box-sizing: border-box;
  border: 0.5px solid grey;
  border-radius: 4px;
  transition: 0.1s;

  &:last-child {
    margin-left: 8px;
  }

  &:hover {
    font-size: 18px;
    transition: 0.2s;
  }
}

.user--widget--container {
  @include flexbox;
  flex-direction: column;
  background-color: whitesmoke;
  border: 1px solid black;
  width: 500px;
  height: 500px;
  position: absolute;
  border-radius: 5px;
  display: none;
  z-index: 5;

  &.on {
    display: flex;
  }
}

.user--widget--btn {
  @include flexbox;
  cursor: pointer;
  margin-bottom: 64px;
  width: 50px;
  height: 50px;
  border: 1px solid black;
}
