.user--summary--positionContainer {
  @include flexbox;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 16px;
  height: 200px;
  flex: 1 0 auto;
  margin-right: 8px;
}

.user--summary--chartTitle {
  margin-bottom: 16px;
}

.user--summary--chart {
  @include flexbox;
}
