.user--gametype {
  @include userContainer(64px);
  & > div {
    width: 50%;
    height: 100%;
    cursor: pointer;
    @include flexbox;
    font-size: 18px;
    transition: 0.2s;
    &:hover {
      font-size: 21px;
      background-color: #ffe81d20;
      transition: 0.2s;
    }

    &:first-child {
      border-right: 1px solid transparent;
      border-image: linear-gradient(to top, whitesmoke, #c7c7c7, whitesmoke);
      border-image-slice: 1;

      border-radius: 6px 0 0 6px;
    }

    &:last-child {
      border-radius: 0 6px 6px 0;
    }

    &.selected {
      background-color: #ffe81d50;
      transition: 0.2s;
      font-size: 21px;
    }
  }
}
