.footer--container {
  @include flexbox();
  justify-content: space-between;
  height: 40px;
  // background-color: ;
}

.footer--email {
  margin-left: 10px;
  font-size: 18px;
}

.footer--neople {
  font-size: 18px;
  margin-right: 10px;
  font-weight: 800;
  cursor: pointer;

  span {
    &:nth-child(1) {
      color: #a0a0a0;
    }
    &:nth-child(2) {
      color: #f7b208;
    }
    &:nth-child(3) {
      color: #373737;
    }
  }
}
