.logo--container {
  font-family: "NeoDunggeunmoPro-Regular";
  font-size: 60px;
  text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000,
    -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000,
    -2px 0px 0 #000000, 0px -2px 0 #000000;
  letter-spacing: 4px;
  cursor: pointer;
  & > span:first-child {
    color: #c23014;
  }
  & > span:nth-child(2) {
    color: #ffe71d;
  }
  & > span:nth-child(3) {
    color: whitesmoke;
  }
  & > span:last-child {
    color: whitesmoke;
    font-size: 50px;
  }
}
