.main--background {
  @include flexbox();
  flex-direction: column;
  background: rgba(144, 205, 251, 0.7);
  background: linear-gradient(
    149deg,
    rgba(144, 205, 251, 0.7) 0%,
    rgba(183, 189, 240, 0.7) 70%,
    rgba(223, 173, 229, 0.7) 100%
  );
  height: 100vh;
}

.main--preview--header {
  @include flexbox();
  justify-content: space-between;
  font-family: "SeoulHangangM";
  height: 20px;
  span {
    color: gray;
  }
}

.main--title {
  margin-bottom: 120px;
  // font-size: 120px;
}
