.user--background {
  @include flexbox();
  flex-direction: column;
  background: rgb(144, 205, 251);
  background: linear-gradient(
    149deg,
    rgba(144, 205, 251, 1) 0%,
    rgba(183, 189, 240, 1) 70%,
    rgba(223, 173, 229, 1) 100%
  );
  height: auto;
  position: relative;
}

.user--container {
  @include flexbox();
  flex-direction: column;
  justify-content: flex-start;
  // background-color: white;
  // border: 2px solid black;
  // height: 100vh;
  width: 768px;
  padding-bottom: 128px;
  // margin: 24px;
  gap: 8px;
}

.user--summary {
  @include userContainer(250px);
  // justify-content: space-around;
}

.user--summary--rankWinrateWrapper {
  // @include boxCheck(blue);
  @include flexbox;
  flex-direction: column;
  gap: 8px 0;
}
